.mainBanner {
  background-image:url("mainbanner.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.block
{
  margin-top: 50px;
}
.title{
  color: rgb(30, 144, 214);
}
.content p{
  color: rgb(30, 144, 214);
}
.decorate :hover{
  color: blue;
}
.sidelogo img{
  height: 50px;
  width: 50px;
}
.alignment{
  align-items: center;
}
